body {
  height: 98vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 600px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.btn svg {
  display: block;
  fill: white;
  background-color: black;
  transition: all 500ms;
  border-radius: 50%;
}

.btn:active {
  transform: scale(1.1);
}

.btn svg:hover {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 1%;
}

.btn-next {
  z-index: 111px;
  top: 45%;
  right: 1%;
}

.slide-number {
  text-align: center;
  color: black;
  font-size: 35px;
  border: #41186c 10px solid;
  padding: 10px 40px;
  border-radius: 15%;
  background-color: white;
}
.auto-move {
  display: flex;
  column-gap: 15px;
}
.auto-button {
  fill: white;
  border: none;
  background-color: black;
  border-radius: 50%;
  padding: 10px 12px;
  cursor: pointer;
  transition: transform 700ms, fill 700ms;
}
.auto-button:hover {
  transform: scale(1.05);
}
.auto-button:active {
  transform: scale(1.1);
}
.auto-button:disabled {
  fill: rgb(44, 46, 46);
  transform: rotate(45deg);
}
